.main-container {
    overflow: hidden;
}
.title-container {
}
.title-container table {
    width: 100%;
}
.clear-playlist {
    text-align: right;
}
.title-container .title {
    text-align: center;
}
.cross-line {
    display: inline-block;
    width: 23px;
    height: 3px;
    background: #FFF;
    position: absolute;
    z-index: 99;
    transform: rotate(39deg);
    top: 18px;
    left: 10px;
}
span.volumn-control {
    display: inline-block;
    width: 15%;
    position: relative;
    text-align: right;
}
.volumn-control i.cross-line {
    left: 26px;
    background: #CCC;
}
span.loop-control {
    display: inline-block;
    width: 15%;
    position: relative;
}
span.play-control {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.control-progress-bar {
    width: 100%;
}
.control-bar {
    width: 100%;
}
.control-time {
    width: 100%;
}
.control-time .current {
    float: left;
}
.control-time .duration {
    float: right;
    clear : right;
}
.control-time marquee {
    display: block;
}
.mat-list-item.mat-list-item {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.play-control-container {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.browse-container {
  
    
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
    display:block;
}
.browse-container .mat-list {
    padding-top: 0;
}
.browse-container .mat-list-item.mat-list-item {
    color : #FFF;
}
.browse-container .mat-list-item.mat-list-item.active {
    display: block;
    background: #717171;
    width: 100%;
    margin: 0;
    color: #FFF;
}
/* @media (max-width: 320px){
    .browse-container {
        height: 70vh;
    }
}
@media (max-width: 599px){
    .browse-container {
        height: 73vh;
    }
} */
.browse-container .mat-list-item.mat-list-item span.file-control {
    display: inline-block;
    width: 30px;
}
.browse-container .mat-list-item.mat-list-item  span.file-remove {
    display: inline-block;
    width: 30px;
}